services:
	- App\Core\RouterFactory::createRouter
	- App\Services\StackSwapService
	- App\Services\HiroService(%hiroApi%)
	- App\Services\VelarService
	- App\UI\Home\HomePresenter(%apiKey%)


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
